extends layout

block body
	div(ng-app="minorityApp")
		.container(ng-controller="adminController")
			.row
				h1 Admin Page
			.row
				button.btn.btn-primary(ng-click="startCircles()") Start
				button.btn.btn-danger(ng-click="stopCircles()") Stop
			br
			.row
				button.btn.btn-primary(ng-click="sendNewPoint()") Send new point
			br
			.row
				button.btn.btn-danger(ng-click="sendNewRound()") New round