extends layout

block body
	div(ng-app="minorityApp")
		.container(ng-controller="adminController")
			.row
				h1 Admin Page
			.row
				button.btn.btn-primary(ng-click="startRounds()") Start rounds
				button.btn.btn-danger(ng-click="stopRounds()") Stop rounds