extends layout

block body
	.container.container-fluid.text-center
		div.row(style="margin-top:100px;")
			a.btn.btn-primary(href="#") Classical Minority Game
		div.row(style="margin-top:5px;")
			a.btn.btn-primary(href="#") Realtime Minority Game