extends layout

block body
	div(ng-app="minorityApp" ng-controller="minorityController")
		.container-fluid.text-center.fixed-width-12
			.row
				h1
					.label.label-default Minority Game
			.row
				//-
					This row is composed of two columns, one for the graphics and another one for the neighbourhood history
					The graphics will be rendered with svg as a single element with fixed width and height, while the history column will be divided in as many rows as there are neighbours and as many columns as we want to show in history
				// graphics column
				.col-sm-6.fixed-width-graph
					svg#graph

				// neighbourhood history column
				div#neighbourhood.col-sm-6.fixed-width-history


			// Score to the left, decision making in center and timer on the right side
			.row
				.col-sm-4.text-left
					.large Punteggio: {{ score }} 
					.large Classifica: {{ rank }} ° su {{ rankTotal }}
				.col-sm-4.text-center
					h1
						button.btn.btn-success(ng-class="upbuttonClass" ng-click="makeDecision('up')") Su
						button.btn.btn-danger(ng-class="downbuttonClass" ng-click="makeDecision('down')") Giu'
						// button.btn.btn-warning(ng-class="bohbuttonClass" ng-click="makeDecision('boh')") Boh
				.col-sm-4.text-right
					.large Turno: {{ round }} 
					.large Prossimo turno: {{ timer }} 
			.row.jumbotron
				// h1 Ciao #{username} {{ user }}
				p Benvenuto nella pagina del classico Minority Game. Il gioco è di natura competitiva e non ha soluzione ottimale, visto che non possono essere soddisfati più della metà dei giocatori allo stesso tempo. Ad ogni turno il giocatore deve prevedere l'andamento del grafico che rappresenta le decisioni della minoranza nei turni precedenti. Il giocatore accumula punti vincendo i singoli round, e vince un round se riesce prevedere con successo l'andamento del grafico.

		div(ng-controller="adminController")
			div#modal1.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
				.modal-dialog
					.modal-content
						.modal-header
							h4.modal-title 
								span Ciao #{username}
						.modal-body
							p Benvenuto nella pagina del classico Minority Game. Il gioco è di natura competitiva e non ha soluzione ottimale, visto che non possono essere soddisfati più della metà dei giocatori allo stesso tempo. Ad ogni turno il giocatore deve prevedere l'andamento del grafico che rappresenta le decisioni della minoranza nei turni precedenti. Il giocatore accumula punti vincendo i singoli round, e vince un round se riesce prevedere con successo l'andamento del grafico.
						.modal-footer
							button.btn.btn-primary(type="button" data-dismiss="modal" data-toggle="modal" data-target="#modal2") Next (1/5)

			div#modal2.modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
				.modal-dialog.modal-lg
					.modal-content
						.modal-header
							h4.modal-title 
								span Storia globale
						.modal-body
							img(src="/img/graph.png")
							p Nella parte sinistra dello schermo è visibile la storia globale del gioco, ie. come il grafico effettivamente evolve.
						.modal-footer
							button.btn.btn-default(type="button" data-dismiss="modal" data-toggle="modal" data-target="#modal3") Next (2/5)
			div#modal3.modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
				.modal-dialog.modal-lg
					.modal-content
						.modal-header
							h4.modal-title 
								span Storia locale
						.modal-body
							img(src="/img/neighbourhood.png")
							p Nella parte destra dello schermo è visibile la storia locale del gioco, puoi vedere solo un certo numero delle persone e le loro decisioni nel passato. Questa informazione ti dovrebbe aiutare per prendere la tua decisione a livello globale.
						.modal-footer
							button.btn.btn-default(type="button" data-dismiss="modal" data-toggle="modal" data-target="#modal4") Next (3/5)
			div#modal4.modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
				.modal-dialog.modal-lg
					.modal-content
						.modal-header
							h4.modal-title 
								span Punteggio, decisioni e tempo
						.modal-body
							img(src="/img/bottombar.png")
							p Nella parte bassa dello schermo puoi vedere il tuo punteggio e la classifica. Nella parte centrale ci sono due bottoni che devi utilizzare per fare la tua decisione, mentre a destra puoi vedere il numero di round al quale sei arrivato e quanto tempo manca al prossimo round.
						.modal-footer
							button.btn.btn-default(type="button" data-dismiss="modal" data-toggle="modal" data-target="#modal5") Next (4/5)
			div#modal5.modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
				.modal-dialog.modal-lg
					.modal-content
						.modal-header
							h4.modal-title 
								span Comincia a giocare
						.modal-body
							p Il gioco comincia quando premi il bottone in basso a destra. Il primo round comincia dopo 5 secondi e dovresti prendere la tua prima decisione a caso. Dopo questa puoi iniziare a seguire i vari comportamenti dei tuoi vicini e dello storico globale per cercare di stare nella minoranza, individuando il giusto andamento del grafico. I round durano circa 7/8 secondi ciascuno. 
						.modal-footer
							button.btn.btn-default(type="button" data-dismiss="modal" ng-click="startRounds()") Start (5/5) 

			div#modal6.modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
				.modal-dialog.modal-lg
					.modal-content
						.modal-header
							h4.modal-title 
								span Congratulazioni
						.modal-body
							p Il gioco è finito. Sei arrivato {{ rank }} su {{ rankTotal }}, congratulazioni! Ecco la classifica finale (nel giallo puoi vedere evidenziato il tuo vicinato):
							div(ng-repeat="jalgo in usernames | orderBy: 'rank'") 
								div(ng-if="jalgo.neigh == true") 
									mark
										strong {{ jalgo.rank }}. {{ jalgo.username }} (punti: {{ jalgo.score }})
								div(ng-if="jalgo.neigh != true") {{ jalgo.rank }}. {{ jalgo.username }} (punti: {{ jalgo.score }})
						.modal-footer
							button.btn.btn-default(type="button" data-dismiss="modal" ng-click="startRounds()") Gioca di nuovo!