doctype html
html
head
	title Webapp to research competitive behaviour in Minority Games, a negative-sum-game 
body
	h1 Webapp to research competitive behaviour in Minority Games, a negative-sum-game 