doctype html
html
head
	title Webapp to research competitive behaviour in Minority Games, a negative-sum-game 
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
	link(rel="stylesheet" href="/css/main.css")

body
	block body

	script(src="/socket.io/socket.io.js")
	script(src="/js/app.js")