doctype html
html
head
	title Webapp to research competitive behaviour in Minority Games, a negative-sum-game 
	meta(name="viewport" content="width=device-width, initial-scale=1")
	// html5 mode base
	base(href="/")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
	link(rel="stylesheet" href="/css/main.css")

body
	block body

	script(src="/js/lib/angular.js")
	script(src="/js/lib/angular-route.js")
	script(src="/js/lib/d3.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/main.js")
	script(src="/js/loginApp.js")
	script(src="/js/angular/app.js")
	script(src="/js/angular/services/userService.js")
	script(src="/js/angular/factories/socket.js")
	script(src="/js/angular/controllers/loginController.js")
	script(src="/js/angular/controllers/classicalMinorityController.js")