.fixed-width-12 {
	max-width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}

.fixed-width-graph {
	max-width: 600px;
	min-width: 600px;
}

.fixed-width-history {
	max-width: 600px;
	min-width: 600px;
}

button {
	margin-left:10px;
}

path,
.line {
    fill: none;
    stroke: orange;
    stroke-width: 5;
    shape-rendering: crispEdges;
}